$heading-color: rgba(0, 0, 0, 0.85);
$text-color: rgba(0, 0, 0, 0.75);
$text-color-secondary: rgba(0, 0, 0, 0.5);
$disabled-color: rgba(0, 0, 0, 0.35);
$dividers: rgba(0, 0, 0, 0.09);
$background: #ebeef3;
$table-header: rgba(0, 0, 0, 0.02);
$primary-color: #1890ff;
$info-color: #1890ff;
$success-color: #52c41a;
$processing-color: #1890ff;
$error-color: #f5222d;
$highlight-color: #f5222d;
$warning-color: #faad14;
$normal-color: #d9d9d9;
$disabled-color-dark: rgba(255, 255, 255, 0.35);
$background-color-base: #fff;
$border-color-base-: #d9d9d9;
$btn-primary-color: #fff;

$font-family: 'Inter', sans-serif;
$second-family: 'Roboto', sans-serif;
